@import '~antd/dist/antd.css';
.input{
    margin-left: 15rem;
    margin-top: -1rem;
}
@media screen and (max-width: 768px) {
    .input{
        margin-top: -1rem;
        margin-left: 2rem;
    }
}
