
.Text{
    margin-top: -3.5rem;
    margin-left: 0.5rem;
}
.Text1{
    margin-top: 14rem;
    margin-left: 19.5rem;
}
.Text2{
    margin-top: -1.5rem;
    margin-left: 20.6rem;
}
.Text3{
    margin-top: 18rem;
    margin-left: 27.8rem;
}